#homeWrapper{
	height: 900px;
}

#homeWrapper{
    height: 80%;
    width: 25%;
    position: absolute;
    left: 75%;
    top: 20%;
    /*
    margin-left: 75%;
    
    margin-top: 10%*/
}

#david{
	margin-left: 150px;
	margin-top: 225px;
}

#david h1{
	font-size: 320%;
	margin-bottom: 1px;
}

#david p{
	font-size: 200%;
	margin-left: 15px;
	margin-top: 1px;
	margin-bottom: 1px;
}

#line p{
	margin-left: -8px;
	margin-top: 0px;
	height: 3px;
	width: 300px;
	position: absolute;
	background-color: black;
}

#button{
	position: absolute;
	margin-left: 50px;
}

#button p{
	width: 125px;
	height: 50px;
	border-radius: 5px;
	background-color: red;
}

#button a{
	text-decoration: none;
	color: white;
	text-align: center;
}

#button a:hover{
	font-weight: bold;
}

#logo{
	margin-top: 41%;
	margin-left: 94.5%;
}





#wrapper{
	width: 1200px;
	height: 2000px;
	margin: 0 auto;
}

body{
	background-color: #596569;
}

#header{
	background-color: #464646;
	height: 50px;
}

#header li{
	margin: 10px;
	font-size: 30px;
	color: white;
	display: inline-block;
	width: 372px;
	text-align: center;
}

#header a{
	text-decoration: none;
	color: white;
}

#header a:hover{
	font-weight: bold;
}

p{
	margin: 35px;
	font-size: 160%;
	line-height: 167%;
}

#mainContent{
	padding-bottom: 150px;
}

#mainContent h1{
	font-size: 50px;
}

#mainContent h1, h2{
	text-align: center;
	margin-right: 80px;
	line-height: 5px;
}

h2{
	font-size: 80%
}

h3{
	text-align: center;
	margin-right: 80px;
	line-height: 5px;
	font-size: 25px;
}

#mainContent #right{
	margin: 10px;
	border-radius: 2%;
	border: 5px grey solid;
	float: right;
}

#mainContent img{
	margin: 10px;
	border-radius: 2%;
	border: 5px grey solid;
	float: left;
}

#artifacts{
	padding: 5px;
	margin: 35px;
	font-size: 160%;
	line-height: 167%;
	background-color: #302f2f;
	color: #bca2a2;
}

#footer{
	height: 75px;
	background-color:#464646;
	margin: 0 auto;
}

#footer p{
	font-size: 75%;
	position: absolute;
	position: bottom-left;
}

#logo2{
	float: right;
	margin: 10px;
}






#resume{
	background-color: white;
	padding: 10px;
	width: 1000px;
	margin: 0 auto;
}

h4{
	line-height: 5px;
	font-size: 35px;
}

#top{
	font-size: 20px;
	line-height:2px;
	text-align: center;
	padding-top: 10px;
}

#button2{
	position: absolute;
	margin-left: 50px;
}

#button2 p{
	width: 75px;
	height: 35px;
	border-radius: 5px;
	background-color: grey
}

#button2 a{
	text-decoration: none;
	color: white;
	text-align: center;
}

#button2 a:hover{
	font-weight: bold;
}
